/build/
/dist/
/screenshots/
/voxelcraft
/rlgl_test
/tests/benchmark_chunks
/tests/test_*
!/tests/test_*.c
!/tests/test_*.sh

/voxelcraft_save.txt
/voxelcraft_save.bak
/voxelcraft_settings.cfg
/voxelcraft_settings.cfg.bak
*.o
*.a
